html, body {
	margin: 0;
	padding: 0;
	height: 100%;

	background: black;
	/*background: url('https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-1.2.1&w=1366&q=90') center bottom; */
	background-size: cover;
}

h1, h2{
	color: white;
	font-family: arial;

	display: block;
	margin: auto;
}



canvas {
	display: block;
	mix-blend-mode: screen;
	z-index: 0;
}

#logo{
	text-align: center;
	animation-name: animatetop;


	//display: block;
	//margin: auto;

	max-width: 850px;
}


/* modal (background */

.modal{
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	//background-color: rgb(0,0,0);
	//background-color: rgba(180,50,160,0.3);
}

.modal_hidden{
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	//background-color: rgb(0,0,0);
	//background-color: rgba(180,50,160,0.3);
}

.modal-content {
	background-color: transparent;
	margin: 15% auto;
	padding: 20px;
	//border: 1px solid #888;
	width: 80%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	opacity: 0.5;


}

.modalFadeIn{
	animation-name: fadeIn;
}

.modalFadeOut{
	animation-name: fadeOut;
}


@keyframes fadeIn{
	0% {
		top: -100px;
		opacity: 0;
	}
	100% {
		top: 0px;
		opacity: 0.5;
	}
}

@keyframes fadeOut{
	0% {
		top: 0px;
		opacity: 0.5;
	}
	100% {
		top: -100px;
		opacity: 0;
	}
}

close{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}